name: automatically-merge-dependabot-PRs

on:
  pull_request:
    branches: [ main ]

jobs:
  auto-merge-dependabot:
    name: auto-merge-dependabot-PR
    timeout-minutes: 10
    if: ${{ github.actor == 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: merge-PR-from-dependabot
        uses: fastify/github-action-merge-dependabot@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          target: minor
          merge-method: rebase
